*{
	margin: 0;
	padding: 0;
}
html, body{
	width: 100%;
	font-family: "Montserrat";
}
body {
	background-image: url("../img/background.png");
	background-repeat: repeat;
}
.container {
	width: 100%;
	height: 100vh;

}
.heading{
	padding-top: 50px;
	text-align: center;
}
.heading img{
	width: 10%;
}
.content {
	width: 80%;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%,-40%);
}
.footer{
	position: absolute;
	left: 50%;
	bottom: 30%;
	transform: translate(-50%, -30%);
	color: #999;

}
input[type="text"]{
	font-size: 15px;
	font-family: "Montserrat";
}
.logo{

}
.title{
	color: #fff;
}
.description{
	color: #aaa;
}
.url {
	width: calc(80% - 56px);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #999;
    background-color: #ddd;
}
.button {
    background-color: #3a428b;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		border-radius: 8px;
		font-family: "Montserrat";
}
.return {
	font-size: 40px;
	text-align: center;
	width:100%;
	position: relative;
	top: 20%;
	color: white;
}
.copyright{

}
@media (max-width: 950px) {
	.heading img {
		width: 20%;
	}
	.return {
		top: 15%;
	}
}
@media (max-width: 500px) {
	.heading img {
		width: 30%;
	}
	.footer{
		font-size: 15px;
	}
	.return {
		top: 20%;
	}
}
@media (max-width: 400px) {
	.heading img {
		width: 30%;
	}
	.footer{
		font-size: 12px;
	}
	.return {
		top: 20%;
	}
}
